@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.header{
    font-family: 'Permanent Marker', cursive;
    background-color: #2c323c;
    background-image: url(https://static1.squarespace.com/static/5893c9ffc534a5381b85c2dd/t/58d2f7c557bf42efac2d8ef0/1490226628198/moshpit.png?format=2500w);
    background-repeat: repeat;
    opacity: 75;
    color: rgb(252, 252, 252);
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 44px;
}

h2 {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
